{{ define "content" }}
    <p>
        Hi, <b>{{ .GiverName }}</b>!<br>
        This Christmas you'll need to find a gift for <b>{{ .ReceiverName }}</b>!<br><br>
    </p>

    {{ if .Ideas }}
        <span>To help you, here are some ideas:</span>

        <ul>
            {{ range .Ideas }}
                {{ if .Link }}
                    <li><a href="{{ .Link }}">{{ .Description }}</a></li>
                {{ else }}
                    <li>{{ .Description }}</li>
                {{ end }}
            {{ end }}
        </ul>
    {{ end }}

    <br><br>

    <p>I wish you a pleasant search, and a merry Christmas!</p>
{{ end }}
