{{ define "content" }}
    <p>
        Ciao, <b>{{ .GiverName }}</b>!<br>
        Per questo Natale, dovrai fare un regalo a <b>{{ .ReceiverName }}</b>!<br><br>
    </p>

    {{ if .Ideas }}
        <span>Per aiutarti in questo compito, ecco qualche idea:</span>

        <ul>
            {{ range .Ideas }}
                {{ if .Link }}
                    <li><a href="{{ .Link }}">{{ .Description }}</a></li>
                {{ else }}
                    <li>{{ .Description }}</li>
                {{ end }}
            {{ end }}
        </ul>
    {{ end }}
            
    <br><br>

    <p>Buona ricerca, e buon Natale!</p>
{{ end }}
