{{ define "content" }}
    <p>
        Ciao, <b>{{ .GiverName }}</b>!<br>
        Per questo Natale, dovrai fare un regalo a <b>{{ .ReceiverName }}</b>!<br><br>
    </p>

    {{ if .Ideas }}
        <span>Per aiutarti in questo compito, ecco qualche idea:</span>

        <dl>
            {{ range .Ideas }}
                <dt>{{ .Name }}</dt>

                <dd>
                    {{ if .Description }}{{ .Description }}.&nbsp;{{ end }}

                    {{ range $k, $v := .Links }}
                        <a href="{{ $v }}">{{ $k }}</a>.&nbsp;
                    {{ end }}
                </dd>
            {{ end }}
        </dl>
    {{ end }}

    <br><br>

    {{ if .Notes }}
        <span>{{ .Notes }}</span>
        <br><br>
    {{ end }}

    <p>Buona ricerca, e buon Natale!</p>
{{ end }}
